
  .eightBall{
    border-radius:50%;
    width:400px;
    height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    background-color: black;
    box-shadow: 10px 10px 10px rgba(29, 14, 0, 0.3);

  }

  .whiteCircle{
      border-radius:50%;
      width:150px;
      height:150px;
      display:flex;
      align-items:center;
      justify-content:center;
      background-color: white;
      font-family: sans-serif;
  }

  h1{
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size: 80px;
    z-index:100;
    font-family: sans-serif;
  }

  h2{
    display:flex;
    align-items:center;
    justify-content:center;
    color:black;
    font-size: 80px;
    z-index:100;
    font-family: sans-serif;
  }

  .askQuestion{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:50px;
  }

  .shake{
    animation: shake 1s;
  }
  @keyframes shake{
      0% { transform: translate(4px, 4px) rotate(0deg); }
      10% { transform: translate(-4px, -4px) rotate(-1deg); }
      20% { transform: translate(-7px, 0px) rotate(1deg); }
      30% { transform: translate(7px, 4px) rotate(0deg); }
      40% { transform: translate(4px, -4px) rotate(1deg); }
      50% { transform: translate(-4px, 4px) rotate(-1deg); }
      60% { transform: translate(-7px, 4px) rotate(0deg); }
      70% { transform: translate(7px, 4px) rotate(-1deg); }
      80% { transform: translate(-4px, -4px) rotate(1deg); }
      90% { transform: translate(4px, 4px) rotate(0deg); }
      100% { transform: translate(4px, -4px) rotate(-1deg); }
  }

 #fortune{
    display:flex;
    align-items:center;
    justify-content:center;
    color:black;  
    background-color: white;
    width:150px;
    height:150px;
  } 

body{
   /*wooden pattern*/
  /* background-color: #660c00;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); */

  /*css stripes made with linear gradients*/
  background-color: #aa07a2;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: repeating-linear-gradient(
      45deg,
      #283f59 0,
      #283f59 20px,
      transparent 20px,
      transparent 40px
  )
}

input{
    width:500px;
    height:43px;
    font-size:18px;
    display:flex;
    align-items:center;
    text-align:center;
    box-shadow: 10px 10px 10px rgba(29, 14, 0, 0.3);
}

button{
    width:100px;
    height:47px;
    font-size:18px;
    margin-left:15px;
    box-shadow: 10px 10px 10px rgba(29, 14, 0, 0.3);
}